/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 23, 2017, 12:05:52 AM
    Author     : Sofrosyn
*/


    
.Text{
   -fx-font-family : arial; 
   -fx-font-weight : bold; 
   -fx-font-size : 30; 
    -fx-text-fill:CHARTREUSE;
    
    }
    .text-area{
   -fx-background-color: goldenrod;  	
    	
    }